<!-- Menu Bar -->
<div class="ui menu">
  <div class="ui container">
    <a href="#" class="header item">
      <img class="logo" src="../assets/images/favicon_32.png" alt="" />
      ng-book Studies
    </a>
    <div class="header item borderless">
      <h1 class="ui header">Advanced Angular Components</h1>
    </div>
  </div>
</div>

<div class="ui stackable grid container">
  <div class="three wide column">
    <app-sidebar></app-sidebar>
  </div>

  <div class="ui main text container twelve wide column">
    <div class="intro">
      <p>
        This study project showcases several advanced features in using Angular&#39;s built-in directives and in Angular + Typescript components development including styling components (with encapsulation), modifying host DOM elements, and modifying templates with content projection, accessing directives. Click on the menu on the left to view each example.
        <em
          >Some of the examples use <code class="norm">console.log</code> so
          make sure you have your browser's console open to see the debugging
          messages</em
        >.
      </p>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
